################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SudokuWPF/v16
/Sudoku/bin/Debug/netcoreapp3.1
/Sudoku/obj
/Sudoku/Properties/PublishProfiles
/SudokuSimply/bin/Debug/netcoreapp3.1
/SudokuSimply/obj
*.user
